<h2>Edit Parameter</h2>

<%= render "form.html", changeset: @changeset, features: @features, versions: @versions,
                        action: parameter_path(@conn, :update, @parameter) %>

<span><%= link "Back", to: parameter_path(@conn, :show, @parameter) %></span>
