<h2>Edit Release</h2>

<%= render "form.html", changeset: @changeset,
                        action: release_path(@conn, :update, @release) %>

<span><%= link "Back", to: release_path(@conn, :index) %></span>
