<h2>New Release</h2>

<%= render "form.html", changeset: @changeset, projects: @projects,
                        action: release_path(@conn, :create) %>

<span><%= link "Back", to: release_path(@conn, :index) %></span>
